In [1]:
import pandas as pd

print(pd.__version__)
#import pandas sebagai pd

1.2.4

In [2]:
d = {'pennjual':['bejo','tejo','wati','bejo','cecep','tejo','wati','bejo'],
    'barang':['monitor','monitor','keyboard','mouse','keyboard','monitor','laptop','monitor']}

df = pd.DataFrame(d)
df
#dataframe terdiri dari 2 buah kolom yaitu kolom penjual yang berisi sales yang berhasil menjual sesuatu dan untuk kolom barang data barang yang berhasil dijual

  pennjual    barang
0     bejo   monitor
1     tejo   monitor
2     wati  keyboard
3     bejo     mouse
4    cecep  keyboard
5     tejo   monitor
6     wati    laptop
7     bejo   monitor

In [4]:
df['count_tiap_penjual'] = df.groupby('penjual').cumcount() + 1
df
#cumcount cum yang merupakan penjumlahan  nilai dan count yang merupakan penjumlahan baris

KeyError: 'penjual'

In [6]:
df['count_tiap_barang'] = df.groupby('barang').cumcount() + 1
df
#unik dari cumcount ini yaitu bisa dikenakan pada satu data yang sudah dikelompokkan

  pennjual    barang  count_tiap_barang
0     bejo   monitor                  1
1     tejo   monitor                  2
2     wati  keyboard                  1
3     bejo     mouse                  1
4    cecep  keyboard                  2
5     tejo   monitor                  3
6     wati    laptop                  1
7     bejo   monitor                  4

In [7]:
df['count_pasangan_kolom'] = df.groupby(['penjual', 'barang']).cumcount() + 1
df
#

KeyError: 'penjual'