In [2]:
import pandas as pd

print(pd.__version__)
#improt pandas sebagai pd

1.2.4

In [3]:
d = {'nama':['bejo','tejo','wati','tiwi','cecep'],
    'ipk':[2, '3', 3, 2.75, '3.25']}
df = pd.DataFrame(d)
df
#terdiri dari 2 kolom, kolom nama dan ipk

    nama   ipk
0   bejo     2
1   tejo     3
2   wati     3
3   tiwi  2.75
4  cecep  3.25

In [4]:
df.dtypes
#type data object berkolenrasi dengan data straight

nama    object
ipk     object
dtype: object

In [5]:
df['ipk'].apply(type)
#memanggil df ipk kenakan metode .apply type untuk medeteksi keberadaan mixed data types

0      <class 'int'>
1      <class 'str'>
2      <class 'int'>
3    <class 'float'>
4      <class 'str'>
Name: ipk, dtype: object

In [7]:
df['ipk'].apply(type).value_counts()
#metode value counts mencoba melakukan perhitungan jumlah dari tiap data type yang berbeda

<class 'int'>      2
<class 'str'>      2
<class 'float'>    1
Name: ipk, dtype: int64

In [8]:
df['ipk'] = df['ipk'].astype(float)
#proses dilakukan secara inflies maka hasil konversinya harus ditampung kebali ke dalam ipk

In [9]:
df['ipk'].apply(type).value_counts()

<class 'float'>    5
Name: ipk, dtype: int64